
// Button Styling //

%btn {
  text-transform: uppercase;
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
  cursor: pointer;
}

// Center Images //

%centered {
  display: block;
  margin: 0 auto;
}

// Link and Nav Text Decoration //

%text-deco {
  text-decoration: none;
}
