
@mixin btn {
  text-transform: uppercase;
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
}

// Colors //

@mixin theme($map) {
@each $theme, $color in $map {
  &--#{$theme} {
    background-color: $color;
  }
 }
}
