
// Button Colors //

$color-primary: #6DE2FC;
$color-secondary: #58E1C1;

$fountain-blue  : #7EE6FD;
$emerald        : #5ece7f;
$sunglo         : #e67478;
$coral          : #ff784f;
$purple-majesty : #9279c3;


// Map Colors //

$grid-colors: (
    '12': #80E8D1,
    '8' : #FD9F85,
    '7' : #EC9FA3,
    '6' : #3FABCA,
    '5' : #88D9A0,
    '4' : #7EE6FD,
    '3' : #DEB2EE
    );

// Media Query Breakpoints //

$desktop-width: 769px;

// FONTS //

$font-primary: 'Helvetica Neue' 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
$font-color: #7A7A7A;
