
// COLORS //
$color-primary: #6DE2FC;
$color-secondary: #58E1C1;

$fountain-blue  : #52bab3;
$emerald        : #5ece7f;
$sunglo         : #e67478;
$coral          : #ff784f;
$purple-majesty : #9279c3;
$scooter        : #39add1;


// Maps //

$button-colors: (
  'default' : $fountain-blue,
  'success' : $emerald,
  'error' : $sunglo,
  'warning' : $coral,
  'info' : $purple-majesty
);



// FONTS //
$font-primary: 'Helvetica Neue' 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
$font-color: #7A7A7A;
