

.btn {

  &--default {
    @extend %btn;
    background-color: $fountain-blue;
  }
  &--success {
    @extend %btn;
    background-color: $emerald;
  }
  &--error {
    @extend %btn;
    background-color: $sunglo;
  }
  &--warning {
    @extend %btn;
    background-color: $coral;
  }
  &--info {
    @extend %btn;
    background-color: $purple-majesty;
  }

 }

.btn--success,
.btn--error,
.btn--warning,
.btn--info {
  @include desktop($desktop-width) {
    margin-left: 20px;
  }
}
