
.nav {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
    li {
      line-height: 45px;
      padding: 5px 10px;
  }
  @include desktop($desktop-width){
    display: flex;
    flex-direction: row;
    margin-right: 120px;
    text-align: right;
  }
}

.nav__item {

  @include desktop($desktop-width){
    margin: 0 20px;
  }

  a {
    color: $font-color;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-secondary;
    border-radius: 5px;
  }

  &:hover a {
    color: white;
  }
}
