
.nav {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
    li {
      line-height: 45px;
  }
}

.nav__item {
  list-style: none;

  a {
    color: $font-color;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-secondary;
    border-radius: 5px;
  }

  &:hover a {
    color: white;
  }
}
