
.container {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 25px;
  color: $font-color;
}

.headline--primary {
  padding-left: 20px;
  padding-bottom: 20px;
  color: $color-secondary;
}

.link {
  text-decoration: none;
  color: $color-primary;
}

.blockquote {
  border-left: 8px solid $color-secondary;
  padding-left: 20px;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 50px;
}

.headline--secondary {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 18px;
}
